//bring in external style, mixins, and grid layout
@import 'normalize';
@import 'bourbon';
@import 'neat';

//media queries
$phone: 'min-width: 375px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';

//style variables
$mainColor: #303F9F;
$accentColor: #ff5722;
$textColor: #fff;
$linkColor: tint($mainColor, 40%);

//center mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-x {
  position: absolute;
  left: 50%;
  transform: translate(0, -50%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $mainColor;
}


.header {
  background: tint($mainColor, 40%);
  margin: 0 0 0.5rem 0;
  height: 4rem;
}

.header__title {
  font-size: 2.5rem;
  color: $textColor;
  margin: 0;
  @media screen and ($tablet){
    font-size: 4rem;
  }
}

.keyboard__wrapper {
  @include outer-container;
  // text-align: center;
  #keyboard.keyboard__ui {
    @media screen and ($phone){
      max-height: 8rem;
      max-width: 24rem;
    }
    @media screen and ($tablet){
      // @include span-columns(6);
      // @include shift(3);
      max-height: 10rem;
      max-width: 35rem;
    }
    @media screen and ($desktop){
      // @include span-columns(6);
      // @include shift(3);
      max-height: 12rem;
      max-width: 38rem;
    }
  }
}

.synthControls {
  @include outer-container;
  margin: 0.5rem;
}

.synthControls__wrapper {
  @include span-columns(6);
}

#voiceWave1.synthControls__waves, #voiceWave2.synthControls__waves, #filterType1.synthControls__filters,
#filterType2.synthControls__filters {
  width: 11rem;
  height: 3rem;
  display: inline-block;
  font-size: 24px;
}
